<ul class="nav nav-pills">
		<% if (obj.configuration_dictionaryType_index) { %>
    <li class="active"><a href="#configuration-dictionaryType-index" data-toggle="tab">字典类别</a></li>
	<% } %>
	<% if (obj.configuration_dictionary_index) { %>
    <li><a href="#configuration-dictionary-index" data-toggle="tab">字典</a></li>
	<% } %>
</ul>
<div class="tab-content">
	<% if (obj.configuration_dictionaryType_index) { %>
    <div class="tab-pane fade in active" id="configuration-dictionaryType-index" data-view-url="./configuration/dictionaryType/index"></div>
	<% } %>
	<% if (obj.configuration_dictionary_index) { %>
    <div class="tab-pane fade" id="configuration-dictionary-index" data-view-url="./configuration/dictionary/index"></div>
	<% } %>
</div>